@using Microsoft.AspNetCore.Identity
@using MemoPlus.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-item">My memo</a>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item bg-danger text-white">Log out</button>
                </form>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}
