@model MemoPlus.Models.Memo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h4>
    @if (Model.IsFixed)
    {
        <i class="fas fa-thumbtack"></i>
    }
     Memo number @Model.MemoId
</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>@Model.MemoText</h5>
        </div>
        <div class="col-12">
            <h5 class="text-secondary">Created: @Model.CreationDate</h5>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.MemoId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

