@model MemoPlus.Models.Memo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Memo number @Model.MemoId</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemoId" />
            <div class="form-group">
                <label asp-for="MemoTitle" class="control-label">Title</label>
                <textarea asp-for="MemoTitle" class="form-control"></textarea>
                <span asp-validation-for="MemoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoText" class="control-label">Memo text</label>
                <textarea asp-for="MemoText" class="form-control"></textarea>
                <span asp-validation-for="MemoText" class="text-danger"></span>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="pinMemo" asp-for="IsFixed">
                <label class="custom-control-label" for="pinMemo">Pin memo?</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

